<div class="container">
    <div class="row">
        <div class="col-xl">
            <div class="card ecf">
                <div class="card-body">
                    <h1 class="display-4">New Employee</h1>
                    <employee :edit=false />
                </div>
            </div>
        </div>
    </div>
</div>
