<%= render 'layouts/partials/card_form' %>
    <h1 class="display-4"><%= @payroll_report.name %></h1>
    <reporttable :submitted_csv="<%= @row_data.to_json %>" />
<%= render 'layouts/partials/card_form_base' %>