<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payroll_report.name %>
</p>

<%= link_to 'Edit', edit_payroll_report_path(@payroll_report) %> |
<%= link_to 'Back', payroll_reports_path %>
