// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ecf {
    margin-top: 8%;
}

.display-4 {
    font-size: 2rem !important;
    font-weight: 300;
    line-height: 1.2;
}